@model IQueryable<ServiceItem>

@{
    string pageTitle = "Admin dashboard";
    ViewBag.Title = pageTitle;
}

<div>
    <h1>@pageTitle</h1>
    <div>
        <h3>Services</h3>
        <div>
            <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Create a new service</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ServiceItem entity in Model)
                {
                    <div>
                        <a asp-area="Admin" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="@entity.Id">Edit</a>
                    
                        <form id="form-@entity.Id" asp-area="Admin" asp-controller="ServiceItems" asp-action="Delete">
                            <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onClick="document.getElementById('form-@entity.Id').submit();">Remove</a>
                        </form>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            @($"{entity.Title}")
                        </a>
                    </div>
                }
            </div>        
        }
    </div>
    <div>
        <h3>Edit site pages</h3>
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Main page</a> <br />
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Services</a> <br />
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Contacts</a> <br />
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>